@model BookRen.Models.Book;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(m => m.Title)</dt>
        <dd>@Html.DisplayFor(m => m.Title)</dd>

        <dt>@Html.DisplayNameFor(m => m.Author)</dt>
        <dd>@Html.DisplayFor(m => m.Author)</dd>

        <dt>@Html.DisplayNameFor(m => m.Publisher)</dt>
        <dd>@Html.DisplayFor(m => m.Publisher)</dd>

        <dt>@Html.DisplayNameFor(m => m.Description)</dt>
        <dd>@Html.DisplayFor(m => m.Description)</dd>
        
        <dt>@Html.DisplayNameFor(m => m.Genre)</dt>
        <dd>@Html.DisplayFor(m => m.Genre)</dd>

        <dt>@Html.DisplayNameFor(m => m.ReleaseDate)</dt>
        <dd>@Html.DisplayFor(m => m.ReleaseDate.Year)</dd>
    </dl>
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index">Back to the list</a>
</div>